.syncthing-indicator {
	min-width: 306px;
}

.syncthing-indicator .syncthing-state-icon {
	padding-right: 6px;
}

.syncthing-indicator .syncthing-state-label {
	padding-left: 6px;
}

.syncthing-indicator .syncthing-state-icon.idle {
	background-image: url(icons/icon-idle.svg);
}

.syncthing-indicator .syncthing-state-icon.scanning {
	background-image: url(icons/icon-scanning.svg);
}

.syncthing-indicator .syncthing-state-icon.syncing {
	background-image: url(icons/icon-syncing.svg);
}

.syncthing-indicator .syncthing-state-icon.erroneous {
	background-image: url(icons/icon-erroneous.svg);
}

.syncthing-indicator .syncthing-state-icon.paused {
	background-image: url(icons/icon-paused.svg);
}

.syncthing-indicator .syncthing-state-icon.disconnected {
	background-image: url(icons/icon-disconnected.svg);
}