.system-status-icon.syncthing-icon {
	background-size: 22px;
}
.syncthing-indicator .popup-menu-icon {
	padding: 0 12px 0 6px;
}
.syncthing-indicator .popup-menu-item {
	min-width: 280px;
}
.syncthing-indicator .popup-menu-icon.idle {
	background-image: url(icons/icon-idle.svg);
}
.syncthing-indicator .popup-menu-icon.scanning {
	background-image: url(icons/icon-scanning.svg);
}
.syncthing-indicator .popup-menu-icon.syncing {
	background-image: url(icons/icon-syncing.svg);
}
.syncthing-indicator .popup-menu-icon.erroneous {
	background-image: url(icons/icon-erroneous.svg);
}
.syncthing-indicator .popup-menu-icon.paused {
	background-image: url(icons/icon-paused.svg);
}
.syncthing-indicator .popup-menu-icon.disconnected {
	background-image: url(icons/icon-disconnected.svg);
}
